<h1>Stupid Coaching</h1>

<form action="/answer">
  <label for="question">Ask question to your coach :</label>
  <input type="text" name="ask" id="question">
  <input type="submit" value="Ask!">
</form>
